__pycache__/
*.pyc
*.exe
database.db
to-do.txt
.vs
.index/
logs/
*.log
.env
data/*
# exception to the rule - template files
!data/dishes_db_template.json
!data/meals_db_template.json
!data/day_special_foods_db_template.json
envir/

app/files_u/*
# exception to the rule
!app/files_u/.gitkeep 
