{% extends "main_page_module/base.html" %}

{% block extraheader %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
{% endblock extraheader  %}

{% block nav_freist %}text-secondary{% endblock nav_freist %}

{% macro render_field(field, placeholder=None) %}
  <div class="mb-3">
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

      {{ field.label }}

      {% if field.errors %}
          {% set css_class = css_class + ' is-invalid' %}

          {% for error in field.errors %}
              
              <small id="{{ field.label.text }}" class="text-danger">
                  {{ error }}
            </small>

          {% endfor %}
          </ul>
      {% endif %}

      {{ field(class=css_class, autocomplete="off", placeholder=placeholder, **kwargs) }}
  </div>
{% endmacro %}


{% block content%}

  <div class="container-fluid" >
    <br>
    
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('main_page_module.dishes') }}">Vse Jedi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nova Jed</li>
          </ol>
        </nav>
        
    <div class="row">
      <div class="col-sm-2">
        
      </div>
      
      
      <div class="col-sm-8">

        <form method="POST" action="{{ url_for('main_page_module.dishes_new') }}" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
          {{ form.csrf_token }}

          <input type="hidden" id="dish_ref_num" name="dish_ref_num" value="999">
  
          {{ render_field(form.name, placeholder="Ime Jedi", autofocus="") }}

          

          <div class="row">
            <div class="col-sm-3">
              {{ render_field(form.type_, class="form-select") }}
            </div>
            <div class="col-sm-3">
              {{ render_field(form.main_dish, class="form-select") }}
            </div>
            <div class="col-sm-3">
              {{ render_field(form.need_sidedish, class="form-select") }}
            </div>
            <div class="col-sm-3">
              {{ render_field(form.show_in_planner, class="form-select") }}
            </div>
          </div>

          {{ form.submit(class="form-control btn btn-dark mb-2", value="Ustvari") }}


        </form>

      </div>


        
      <div class="col-sm-2">

      </div>

 
      </div>
    </div>

  </div>

{% endblock content %}
