{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_v_jedi %}text-secondary{% endblock nav_v_jedi %}

{% macro render_field(field, placeholder=None) %}
  <div class="mb-3">
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

      {{ field.label }}

      {% if field.errors %}
          {% set css_class = css_class + ' is-invalid' %}

          {% for error in field.errors %}
              
              <small id="{{ field.label.text }}" class="text-danger">
                  {{ error }}
            </small>

          {% endfor %}
          </ul>
      {% endif %}

      {{ field(class=css_class, autocomplete="off", placeholder=placeholder, **kwargs) }}
  </div>
{% endmacro %}

{% block content%}

  <div class="container-fluid" >
    <br>
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main_page_module.dishes') }}">Vse Jedi</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main_page_module.dishes_view', dish_ref_num=dish_ref_num) }}">Jed</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dodaj sestavino</li>
      </ol>
    </nav>
        
    <div class="row">
      <div class="col-sm-2">
      </div>
      
      <div class="col-sm-8">
        <form method="POST" action="{{ url_for('main_page_module.dish_ingredients_add', dish_ref_num=dish_ref_num) }}" accept-charset="UTF-8" role="form">
          {{ form.csrf_token }}

          {{ render_field(form.ingredient_ref_num, class="form-select") }}

          {{ render_field(form.quantity, placeholder="Količina (npr. 200, 1.5, 2)", autofocus="") }}

          {{ form.submit(class="form-control btn btn-dark mb-2", value="Dodaj") }}
        </form>
      </div>

      <div class="col-sm-2">
      </div>
    </div>
  </div>

{% endblock content %}

